<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="peg.project.test.service.BoardMapper">
	<select id="boardList" resultType="peg.project.test.vo.BoardVO" parameterType="peg.project.test.vo.Page">
        select idx, title, writer, indate, count from board
        <if test="searchType=='title'">
			where title like concat('%',#{keyword},'%')            
        </if>
        <if test="searchType=='writer'">
			where writer like concat('%',#{keyword},'%')            
        </if>
        <if test="searchType=='contents'">
			where contents like concat('%',#{keyword},'%')            
        </if>
		order by idx desc
		limit #{perPageNum}
		offset ( #{currentPage} - 1 ) * #{perPageNum}
    </select>
    
	<select id="boardcount" parameterType="peg.project.test.vo.Page" resultType="int">
	    select count(*)
	    from board
	    <if test="searchType=='title'">
			where title like concat('%',#{keyword},'%')            
        </if>
        <if test="searchType=='writer'">
			where writer like concat('%',#{keyword},'%')            
        </if>
        <if test="searchType=='contents'">
			where contents like concat('%',#{keyword},'%')            
        </if>
	</select>
  
  	<insert id="boardInsert" parameterType="peg.project.test.vo.BoardVO" useGeneratedKeys="true" keyProperty="idx">
  		insert into board(title, contents,writer)
  		values(#{title},#{contents},#{writer})
  	</insert>
  
 	 <select id="boardContents" parameterType="int" resultType="peg.project.test.vo.BoardVO">
   	   select * from board where idx = #{idx}
 	 </select>
  
 	 <update id="boardUpdate" parameterType="peg.project.test.vo.BoardVO">
    	update board set title=#{title}, contents=#{contents}
      	where idx=#{idx}
  	</update>
  	
 	 
 	 
 	 <!-- 첨부 파일 -->
 	 
 	 <insert id="addfile" parameterType="peg.project.test.vo.FileVO">
 	     insert into filelist(idx, originalName, filename)
 	     values(#{idx}, #{originalName}, #{filename})
 	 </insert>
 	 
 	 <select id="fileList" parameterType="int" resultType="peg.project.test.vo.FileVO">
 	     select idx, originalName, filename
 	     from filelist
 	     where idx = #{idx}
 	 </select>
 	 
 	 <insert id="insertfile" parameterType="java.util.List">
 	     <foreach collection="list" item="item" separator=";">
 	     	insert into filelist(idx, originalName, filename, filepath)
 	     	values (#{item.idx}, #{item.originalName}, #{item.filename}, #{item.filepath})
 	     </foreach>
 	 </insert>
 	 <select id="selectfile" parameterType="String" resultType="peg.project.test.vo.FileVO">
 	     select idx, originalName, filename, filepath
 	     from filelist
 	     where filename like #{filename}
 	 </select>
 	 
</mapper>