@charset "utf-8";
@import "reset.css";
------------------------------------------------------------------- */
/* ///////////////////////////////////////// 
	=basic style
///////////////////////////////////////// */	


body{ line-height:1.5 }

div{ -webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box }

div.searchWrap{ position:relative;clear:both }
/* table : common  */ 
table tr th, table tr td{ -webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box }

/* table : search */
table[summary=search]{ position:relative;border:1px solid #ccc }
table[summary=search] tr th, table[summary=search] tr td{ border:0;border-bottom:1px solid #ccc;border-left:1px solid #ccc }
table[summary=search] tr th{ background:#eee;text-align:center }
table[summary=search] tr td{ padding:0 3px }



/* DETAIL TABLE - 1단 테이블  */

	div.detailTblWrap{ position:relative;clear:both }
		table.tbl_DetailTbl_1[summary=TEMPLATE_DETAIL]{ border:1px solid #ccc }
		table.tbl_DetailTbl_1[summary=TEMPLATE_DETAIL] tr th{ height:30px;background:#eee;text-align:center;border-right:1px solid #ccc;border-bottom:1px solid #ccc }
		table.tbl_DetailTbl_1[summary=TEMPLATE_DETAIL] tr td{ height:30px;border-right:1px solid #ccc;border-bottom:1px solid #ccc }
		table[summary=TEMPLATE_DETAIL] tbody tr:nth-child(even) td{ background:#FDFCF3 }

/* LIST DETAIL TABLE - 2단 분리 테이블  : TEMPLATE */
	
	div.listTblWrap{ position:relative;clear:both }
    /* HEADER */
	div.listTblWrap_Header{ position:relative;clear:both;background:#eee;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-right:1px solid #ccc;overflow:hidden }
		table.tbl_Header_1[summary=TEMPLATE_HEADER]{ position:relative;border:0 }
		table.tbl_Header_1[summary=TEMPLATE_HEADER] tr th{ background:transparent;text-align:center;border-left:1px solid #ccc }
		table.tbl_Header_1[summary=TEMPLATE_HEADER] tr th:last-child{ border-left:0 }


	/* BODY */
	div.listTblWrap_Body{ position:relative;clear:both;overflow-y:scroll }
		table.tbl_Body_1[summary=TEMPLATE_BODY]{ position:relative;border:0 }
		table.tbl_Body_1[summary=TEMPLATE_BODY] tr td{ height:25px;text-align:center;border-bottom:1px solid #ccc;border-left:1px solid #ccc }
		table[summary=TEMPLATE_BODY] tbody tr:nth-child(even) td{ background:#FDFCF3 }





/* BUTTON */
	div.btnWrap{ position:relative;clear:both }
	
		/* BUTTON : text */
		div[class^='btn_text_']{ 
			display:inline-block;cursor:pointer;
			color:#61380B;
			border-radius:2px;border:1px solid #61380B;			
			text-align:center;font-weight:bold;
			height:25px;line-height:22px;
			-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box
		}
		div[class^='btn_text_']:focus, div[class^='btn_text_']:hover{
			color:#FFF;background-color:#61380B
		}
		
		
		/* BUTTON : icon */
		div[class^='btn_Icon_']{ 
			display:inline-block;position:relative;cursor:pointer
		}
			.btn_Icon_search{ width:16px;height:16px;background:url(../images/btn_img/search.png) no-repeat }
		
		
		/* BUTTON : background image */
		div[class^='btn_ImgBk_']	{
			display:inline-block;cursor:pointer;
			height:23px;line-height:22px;text-align:center;font-weight:bold;color:#000;
			background:
				url(../images/btn_img/btn_left.jpg) 	no-repeat 	left top, 
				url(../images/btn_img/btn_right.jpg) 	no-repeat 	right top, 
				url(../images/btn_img/btn_middle.jpg) 	repeat-x 	left top;
			-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box
		}
		
		div[class^='btn_ImgBk_']:focus, div[class^='btn_ImgBk_']:hover{
			background-image:
				url(../images/btn_img/btn_left_ov.jpg),
				url(../images/btn_img/btn_right_ov.jpg),
				url(../images/btn_img/btn_middle_ov.jpg);
		}





/* input type */
input[type=text] { -webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box }
input[type=text] { float:left;width:98%;height:21px;padding:0 0 0 3px;border:1px solid #ddd;font-size:12px;line-height:21px }
input[type=checkbox] { display:inline-block;position:relative }

/* SELECT */
select{ position:relative;width:98%;height:20px;padding:0 }






/* COMMON */

.fl { float:left }
.fr { float:right }

.disNone{ display:none }
.disBlock{ display:block }
.absolute{ position:absolute }

.alCenter{ text-align:center }
.alRight { text-align:right }
.alLeft  { text-align:left }

.w17 	{ width:17px }
.w50 	{ width:50px}
.w83 	{ width:83px }
.w100 	{ width:100px }
.w200 	{ width:200px }
.w1000 	{ width:1000px }
	
.mgT1 	{ margin-top:1px }
.mgT5 	{ margin-top:5px }
.mgT10 	{ margin-top:10px }
.mgT30 	{ margin-top:30px }

.mgB10 	{ margin-bottom:10px }

.mgL4 	{ margin-left:4px }
.mgL10 	{ margin-left:10px }

.pdR3 { padding-right:3px }








