<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="peg.board.mapper.MemberMapper">
    
   <select id="memberLogin" parameterType="peg.board.vo.MemberVO" resultType="peg.board.vo.MemberVO">
       select id, pw, memberDiv
       from member
       where id=#{id} and pw=#{pw}
   </select>
   
   <select id="getMemberById" parameterType="String" resultType="peg.board.vo.MemberVO">
       select id, pw, memberAuthority, memberEnabled
       from member
       where id=#{id}
   </select>
</mapper>